.item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    padding-right: 2rem;
    background-color: var(--level-2);
    border-radius: 1.5rem;
}


.profile {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profile img {
    width: 5rem !important;
    height: 5rem !important;
    border-radius: 50%;
}

.student_info {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
}

.student_info div:first-child {
    font-size: 1.3rem;
}

.student_info div:last-child {
    font-weight: bold;
}

.info {
    min-width: 12rem;
    text-align: center;
    padding: .5rem 2rem;
    color: var(--text);
    background: var(--background);
    border-radius: 5rem;
    font-weight: bold;
}

.ranking, .top_ranking {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: .5rem;
    text-align: left;
}

.top_ranking {
    padding-bottom: 1rem;
}

.exp_bar_wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
    overflow: hidden;
    pointer-events: none;
}

.exp_bar_wrap::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: .5rem;
    background-color: #00000088;
}

.exp_bar {
    z-index: 1;
    position: absolute;
    bottom: 0;
    height: .5rem;
    background-color: var(--green);
    border-radius: 50rem;
}

.boj.item {
    border: solid .1rem var(--shadow-color);
    box-shadow: 0 0 3rem var(--shadow-brightness) var(--shadow-color);
}

.boj .info {
    color: #222;
    background: var(--tier-background);
}

.unrated {
    box-shadow: none !important;
    --tier-background: #222;
}

.unrated .info {
    color: white !important;
}

.bronze {
    --tier-background: conic-gradient(from .5turn at 70% 110%, #db6c00,  white) border-box;
    --shadow-color: #db6c00;
    --shadow-brightness: -2rem;
}

.silver {
    --tier-background: conic-gradient(from .5turn at 70% 110%, #54789a,  white) border-box;
    --shadow-color: #54789a;
    --shadow-brightness: -1.25rem;
}

.gold {
    --tier-background: conic-gradient(from .5turn at 70% 110%, #ffc300,  white) border-box;
    --shadow-color: #ffc300;
    --shadow-brightness: -1rem;
}

.platinum  {
    --tier-background: conic-gradient(from .5turn at 70% 110%, #25d69b,  white) border-box;
    --shadow-color: #25d69b;
    --shadow-brightness: -.5rem;
}

.diamond  {
    --tier-background: conic-gradient(from .5turn at 70% 110%, #00e4ff,  white) border-box;
    --shadow-color: #00e4ff;
    --shadow-brightness: -.5rem;
}

.ruby  {
    --tier-background: conic-gradient(from .5turn at 70% 110%, #ff0068,  white) border-box;
    --shadow-color: #ff0068;
    --shadow-brightness: -.5rem;
}

.master  {
    --tier-background: conic-gradient(from .5turn at 70% 110%, #9641d6,  white) border-box;
    --shadow-color: #9641d6;
    --shadow-brightness: 0rem;
}

@media screen and (min-width: 750px) {
    
    .top_ranking {
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 2.5rem;
        padding: 0 .5rem 2rem;
    }
    
    .top_ranking .item {
        flex: 1;
        padding: 2rem;
        flex-direction: column;
        gap: 1rem;
    }
    
    .top_ranking .item:nth-child(1) {
        flex: 1.5;
        order: 2;
    }
    
    .top_ranking .item:nth-child(2) {
        order: 1;
    }
    
    .top_ranking .item:nth-child(3) {
        order: 3;
    }
    
    .top_ranking .profile {
        flex-direction: column;
        text-align: center;
    }
    
    .top_ranking .profile img {
        width: 10rem !important;
        height: 10rem !important;
    }
}